/* css header */

header{
    background-color: #2c3e50;
}

.pulsante_header{
    filter: invert(1);
}

/* --------- */

/* css prima section */

.sfondo_section{
    background-color: #1abc9c;
    color: white;
}

.img_misure{
    width: 250px;
}

.riga_bianca{
    border: 3px solid white;
    border-radius: 25px;
    
}

.fa-star{
    font-size: 2rem;
}

.titolo_principale{
    font-size: 3rem;
}


/* ---------- */

/* css seconda section */

.riga_nera{
    border: 3px solid black;
    border-radius: 25px;
}

.box_home{
    background-color: #ba4b63;
}

.box_cake{
    background-color: #1ea4b6;
}

.box_circo{
    background-color: #140f0f;
}

.box_game{
    background-color: #1c83c1;
}

.box_cassaforte{
    background-color: #0e38b5;
}

.box_sottomarino{
    background-color: #ccb2a3; 
}



/* ------------ */

/* css footer */

.section_footer{
    background-color: #3a546d;
    color: white;
}

.section_copyright{
    background-color: #2c3e50;
    color: white;
}

.box_footer1{
    background-color: purple;
    height: 50px;
}

.box_footer2{
    background-color: green;
    height: 50px;
}


/* --------------- */